[include config_backup.cfg]
[include mainsail.cfg]
[skew_correction]
[include print_start.cfg]
[include homing.cfg]
[include screws.cfg]
[include KAMP_Settings.cfg]
#[include usb-adxl345.cfg]
#[include controller_fan.cfg]

[mcu]
serial: /dev/ttyS3
restart_method: command

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: /home/klipper/printer_data/config/variables.cfg

[printer]
kinematics: corexy      # tell klipper it's a corexy
max_velocity: 1000
max_accel: 160000
max_z_velocity: 50
max_z_accel: 300
#max_accel_to_decel: 99999999
#square_corner_velocity: 20


[force_move]
enable_force_move: true     # allows us to move the motors without homing

[probe]
pin: gpio22
speed: 7
x_offset: 0
y_offset: 42
#z_offset: 1.26
samples: 2

[bed_mesh]
speed: 160
horizontal_move_z: 6
mesh_min: 0, 46
mesh_max: 144, 157
probe_count: 4,4
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
rotation_distance: 40
full_steps_per_rotation: 200 # For 0.9 Motors change to 200 for 1.8
microsteps: 16
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -1
position_endstop: 157
position_max: 157
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^gpio4
driver_SGTHRS: 90
interpolate: False

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200 # For 0.9 Motors change to 200 for 1.8
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_min: 0
position_endstop: 174
position_max: 174
homing_speed: 50
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^gpio3
driver_SGTHRS: 100
interpolate: False

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 32
rotation_distance: 8
#full_steps_per_rotation: 200
#endstop_pin: tmc2209_stepper_z:virtual_endstop
endstop_pin: probe:z_virtual_endstop
#position_min: -6
position_min: -21
position_max: 140
homing_speed: 4
#position_endstop = 0.650
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.8
sense_resistor: 0.110
diag_pin: ^gpio25
driver_SGTHRS: 60
stealthchop_threshold: 0
interpolate: False

[extruder]
step_pin: gpio14
dir_pin: !gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 80:20 
full_steps_per_rotation: 200
nozzle_diameter: 0.6
filament_diameter: 1.75
heater_pin: gpio23
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio27
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 10
max_temp: 350
min_extrude_temp: 180
max_extrude_cross_section:5
#pressure_advance: 0.37
pressure_advance_smooth_time: 0.060
#max_extrude_only_distance: 500
#max_extrude_only_velocity: 240
#max_extrude_only_accel: 8000
#instantaneous_corner_velocity: 20


[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 1.35
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.110

[multi_pin part_cooling]
pins: gpio18


#[fan_generic electronics_partfan]
#pin:gpio20


[temperature_fan electronics]
#Electronics fan PWM
pin:gpio20
max_power: 0.60
control: watermark
max_delta: 5.0
sensor_type: temperature_host
min_temp: 10.0
max_temp: 80.0
target_temp: 40.0
shutdown_speed: 0.0


[fan]
pin: multi_pin:part_cooling

[heater_fan hotend_fan]
pin: gpio17
heater: extruder
heater_temp: 40.0

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130


[temperature_sensor skr_pico]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor banana_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#   Orca Support
#####################################################################

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-1 ; Retract filament 3 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F1200 Z20 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X{ printer.toolhead.axis_minimum.x +10 } Y{ printer.toolhead.axis_maximum.y - 20 } F3600 ; Move Printer Head Out of Way
      ; M84 ; Disable stepper motors - don't so the gantry stays aligned
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   ;bed and hotend are left at the print temps in case I want to restart.
   CLEAR_PAUSE
   BASE_CANCEL_PRINT

[gcode_macro PRINT_END]
gcode:
  G1 E-25 F1800  ;Retract filament
  TURN_OFF_HEATERS  ;Turn off heaters
  _MOVE_AWAY  ;Move away from print
  PARK_CENTER_REAR  ;Park central rear
  M84  ;Disable motors


[gcode_macro _MOVE_AWAY]
gcode:
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
      
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing


[gcode_macro PARK_CENTER_REAR]
gcode:
    {% if printer["gcode_macro status_busy"] != null %}
      status_busy
    {% endif %}
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}

    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  
    {% if printer["gcode_macro status_ready"] != null %}
    status_ready
    {% endif %}




[gcode_macro DRAW_LINE]
gcode:
    {% set SPEED = params.SPEED|default(900)|int %}
    G92 E0 ;Reset Extruder
    G1 Z1.0 F400 ;Move Z Axis up

    G1 X5.1 Y140 Z0.3 F5000  ;Move to start position
    G1 X5.1 Y40.0 Z0.3 F{SPEED} E15 ;Draw the first line
    G1 X5.4 Y40.0 Z0.3 F{SPEED} ;Move to side a little
    G1 X5.4 Y140 Z0.3 F{SPEED}.0 E30 ;Draw the second line

    G92 E0 ;Reset Extruder
    G1 Z1.0 F400 ;Move Z Axis up
    G4 P500
    G1 X8 F{SPEED} ;Move to side so it doesn't crash in to the blob

#####SPEED TEST MACRO################

[gcode_macro TEST_SPEED]
gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = printer.toolhead.axis_minimum.y + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z10 F{speed*60}

    # Set new limits
    SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

    {% for i in range(iterations) %}
        # Large pattern
            # Diagonals
            G0 X{x_min} Y{y_min} F{speed*60}
            G0 X{x_max} Y{y_max} F{speed*60}
            G0 X{x_min} Y{y_min} F{speed*60}
            G0 X{x_max} Y{y_min} F{speed*60}
            G0 X{x_min} Y{y_max} F{speed*60}
            G0 X{x_max} Y{y_min} F{speed*60}
            
            # Box
            G0 X{x_min} Y{y_min} F{speed*60}
            G0 X{x_min} Y{y_max} F{speed*60}
            G0 X{x_max} Y{y_max} F{speed*60}
            G0 X{x_max} Y{y_min} F{speed*60}
        
        # Small pattern
            # Small diagonals 
            G0 X{x_center_min} Y{y_center_min} F{speed*60}
            G0 X{x_center_max} Y{y_center_max} F{speed*60}
            G0 X{x_center_min} Y{y_center_min} F{speed*60}
            G0 X{x_center_max} Y{y_center_min} F{speed*60}
            G0 X{x_center_min} Y{y_center_max} F{speed*60}
            G0 X{x_center_max} Y{y_center_min} F{speed*60}
            
            # Small box
            G0 X{x_center_min} Y{y_center_min} F{speed*60}
            G0 X{x_center_min} Y{y_center_max} F{speed*60}
            G0 X{x_center_max} Y{y_center_max} F{speed*60}
            G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 

    # Re-home and get position again for comparison:
        G28
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED

############################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.612
#*# pid_ki = 1.076
#*# pid_kd = 1225.323
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.206
#*# pid_ki = 2.864
#*# pid_kd = 59.947
#*#
#*# [stepper_z]
#*# position_endstop = -1.085
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 115.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 72.2
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.005408693412519299
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [probe]
#*# z_offset = 1.329
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.027500, 0.028750, -0.002500, -0.004375
#*# 	  0.041875, 0.012500, -0.001250, -0.020000
#*# 	  0.053125, -0.001250, -0.032500, -0.021875
#*# 	  0.003750, -0.005625, -0.025625, -0.046875
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 22.5
#*# max_x = 134.49
#*# min_y = 46.0
#*# max_y = 130.99
